@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
    --body-color: #f6f6f6;
    --blue: rgb(0, 23, 195);
    --main-color: rgb(240, 236, 236);
    --header-color: rgb(218, 218, 218);
    --primary-color: #86f6ed;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    height: 100vh;
    color: var(--header-color)
}

header {
    height: 100px;
}

/* === navbar === */
.navbar {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 0px 50px;
    border-bottom: 2px solid var(--blue);
    height: 100px;
}

.navbar > ul {
    display: flex;
    flex-direction: row-reverse;
}

.navbar > ul > li {
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    width: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--primary-color);
    color: var(--blue);
}

.navbar > ul > li:hover {
    background-color: var(--blue);
    color: var(--primary-color);
}

ul > li > a {
    text-decoration: none;
    color: var(--blue);
}

/* === sidebar === */

.sidebar {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 200px;
    margin-left: 60px;
    position: relative;
    z-index: 1;
}

.sidebar_button {
    font-size: 30px;
    appearance: none;
    color: black;
    z-index: 2; 
    width: 30px;
    height: 30xp;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar_button:checked + .sidebar_menu{
    display: none;
}

.sidebar > .sidebar_button::before {
    font-family: FontAwesome;
    content: "\f0dd";
    color: var(--blue);
    display: inline-block;
    position: relative;
    top: -18px;
    z-index: 10;
}

.sidebar_menu {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: black;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar_menu > ul {
    line-height: 35px;
    width: 100%;

}

.sidebar_menu > ul > li {
    width: 100%;
    color: black;
    border-bottom: 1px solid var(--blue);
    padding: 5px 10px;
    text-align: center;

}

.sidebar_menu > ul > li:last-child {
    border: 0;
}

.main {
    position: absolute;
    top: 130px;
    left:0;
    width: 100%;
    margin-top: -31px;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
}






