* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin: 0 10%;
}

header, footer {
    height: 120px;
    width: 100%;
    background-color: #713924;
}

aside {
    display: inline-block;
    width: 25%;
    height: 100vh;
    background-color: #947c74;
}

section {
    display: inline-block;
    width: 75%;
    height: 100vh;
    vertical-align: top;
    margin-left: -4px;
    padding: 20px 20px;
    background-color: #dcc4bc;
}

section > .content {
    /* columns: 3; */
    /* column-width: 200px; */
    column-count: 3;
    column-gap: 10px;
}

h2.span {
    padding: 10px;
    margin: 10px 0;
    column-span: all;
    background-color: black;
    color: white;
}