* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.container {    
    width: 100%;
    margin: 0 10%;
}

.content {
    display: table;
    height: 100vh;
    width: 80%;    
}

header, footer {
    display: table-row;
    height: 120px;    
    background-color: #713924;
}

header {
    text-align: right;
}

.main {
    display: table;
    width: 100%;
    height: 100%;
}

aside {
    display: table-cell;
    width: 25%;
    background-color: #947c74; 
    text-align: center;
}

section {
    display: table-cell;
    width: 75%;
    background-color: #dcc4bc;
}

.menu_nav {
    list-style: none;
}

.menu_nav > li{
    display: inline-block;
    padding: 30px 10px; 
}

.menu_nav > li > a {
    text-decoration: none;
    color: #f9d57f;
    padding: 10px;
    font-size: 24px;
}

.menu_nav > li > a:hover {
    background-color: #dcc4bc;
    color: #713924;
    border-radius: 5px;
}

.menu_side {
    padding: 30px 0px;
}

.menu_side > li {
    text-align: center;        
    list-style: none;
    padding: 10px 0px;
}

.menu_side > li > a {    
    display: inline-block;
    width: 70%;
    text-decoration: none;
    padding: 10px 30px;
    color: #713924;
    background-color: #dcc4bc;
    border-radius: 5px;
    border-top: 2px solid #713924;
    border-left: 1px solid #713924;
    
} 

.menu_side > li > a:hover {    
    background-color: #f9d57f;
    color: #713924;
}

.cuscuz {
    padding: 25px 0px 5px;
    width: 30%;
}







