name: Alert parent repository on push
on: push

jobs:
  build:
    name: Dispatch to `other-repo`
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          # You should create a personal access token and store it in your repository
          token: ${{ secrets.SUBMODULE_UPDATE }}
          repository: RoCampos/RoCampos.github.io         
          event-type: my-event